body {
  background-color: rgb(72, 245, 179);
}

.homeTitle {
  font-size: 30px;
  margin: 20px;
  color: darkred;
}

.pagination {
  display: flex;
  justify-content: space-around;
}

.previous {
  color: orange;
}
.next {
  color: red;
}

.tag-cloud {
  background-color: orange;
  margin: 10px;
  display: flex;
  justify-content: space-between;
}
.tagLink a {
  color: brown;
}
